* {
  margin: 0;
  padding: 0;
}

header {
  font-size: 22px;
  border-radius: 10px;
  margin-left: 10px;
  background: linear-gradient(135deg, rgb(5, 93, 40) 0%, rgb(5, 93, 40) 20%, rgb(105, 136, 12) 54%, rgb(156, 179, 86) 89%, rgb(156, 179, 86) 100%);
}
header .navbar-brand img {
  border-radius: 8px;
}
header .navbar li a:hover {
  background: #7daf84;
}

main {
  height: auto;
  width: 100%;
  margin: 10px;
  background-color: #C3CF0A;
  border-radius: 10px;
}
main .principal {
  background-color: #E7EEE8;
  height: auto;
  width: 100%;
  border-radius: 10px;
  border: 1px solid #13542D;
  line-height: 20px;
}
main .principal h1 {
  color: rgb(28, 32, 21);
  text-align: center;
  font-family: Tahoma;
  padding: 5px;
}
main .principal h3 {
  color: rgb(28, 32, 21);
  text-align: center;
  font-family: Tahoma;
  padding: 5px;
}
main .principal p {
  color: #13542D;
  font-size: 16px;
  font-weight: bolder;
  text-align: center;
  font-style: italic;
  font-family: "Lucida Sans";
  padding: 10px;
}
main .seccionesGaleria {
  background-color: #C3CF0A;
  height: auto;
  width: 100%;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(4, 150px);
  grid-gap: 2px;
  grid-template-areas: "img1" "img2" "img3" "img4";
}
main .item {
  border-radius: 5px;
  margin: 5px;
  border: 2px solid black;
  filter: grayscale(100%);
  transition: all 0.7s;
}
main .item:hover {
  transform: scale(1.1);
  filter: grayscale(0%);
  transition: all 0.7s;
}
main .item1 {
  background-image: url(../images/servicios.svg);
  background-position: center;
  background-size: cover;
  grid-area: img1;
}
main .item2 {
  background-image: url(../images/quienesSomos.svg);
  background-position: center;
  background-size: cover;
  grid-area: img2;
}
main .item3 {
  background-image: url(../images/capacitaciones.svg);
  background-position: center;
  background-size: cover;
  grid-area: img3;
}
main .item4 {
  background-image: url(../images/contacto.svg);
  background-position: center;
  background-size: cover;
  grid-area: img4;
}
main .clientes {
  background-color: #fff;
}
main .clientes p {
  font-size: 30px;
  color: #000;
  text-align: center;
}
main #demo {
  background-color: #fff;
  height: 200px;
}

footer {
  background-color: #E7EEE8;
  width: 100%;
  height: auto;
  margin: 10px;
  border-radius: 10px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer iframe {
  margin: 10px;
}
footer p {
  margin-top: 20px;
  align-items: center;
  font-size: 16px;
}
footer i {
  font-size: 40px;
  color: #13542D;
  letter-spacing: 20px;
  margin-top: 50px;
}

.nosotras {
  display: flex;
  justify-content: space-around;
}

.animate__animated {
  animation-duration: 2s;
}

.listaOrdenada li {
  background-color: #C3CF0A;
  list-style: inside;
  list-style-type: upper-roman;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  font-weight: 600;
  color: rgb(45, 40, 40);
}

.fotos {
  background-color: #C3CF0A;
  height: auto;
  width: 100%;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 150px);
  grid-gap: 2px;
  grid-template-areas: "foto1 foto5" "foto2 foto6" "foto3 foto7" "foto4 foto8";
}

.foto {
  border-radius: 5px;
  margin: 5px;
  border: 2px solid black;
  filter: grayscale(100%);
  transition: all 0.7s;
}
.foto:hover {
  transform: scale(1.1);
  filter: grayscale(0%);
  transition: all 0.7s;
}

.foto1 {
  background-image: url(../images/arbol.jpg);
  background-position: center;
  background-size: cover;
  grid-area: foto1;
}

.foto2 {
  background-image: url(../images/burbuja.jpg);
  background-position: center;
  background-size: cover;
  grid-area: foto2;
}

.foto3 {
  background-image: url(../images/campo.jpg);
  background-position: center;
  background-size: cover;
  grid-area: foto3;
}

.foto4 {
  background-image: url(../images/flor.jpg);
  background-position: center;
  background-size: cover;
  grid-area: foto4;
}

.foto5 {
  background-image: url(../images/luna.jpg);
  background-position: center;
  background-size: cover;
  grid-area: foto5;
}

.foto6 {
  background-image: url(../images/arbolRojo.jpg);
  background-position: center;
  background-size: cover;
  grid-area: foto6;
}

.foto7 {
  background-image: url(../images/mariposa.jpg);
  background-position: center;
  background-size: cover;
  grid-area: foto7;
}

.foto8 {
  background-image: url(../images/medioambiente.jpg);
  background-position: center;
  background-size: cover;
  grid-area: foto8;
}

form {
  background-color: #C3CF0A;
  font-family: "Lucida Sans";
  text-align: center;
  line-height: 20px;
  border-radius: 20px;
  padding: 10px;
}

@media only screen and (max-width: 599px) {
  .nosotras {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media only screen and (min-width: 600px) and (max-width: 767px) {
  main .seccionesGaleria {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 150px);
    grid-template-areas: "img1 img2" "img3 img4";
  }
  main .principal h1 {
    font-size: 28px;
    padding: 2px;
  }
  main .principal h3 {
    font-size: 20px;
  }
  main .principal p {
    font-size: 18px;
    padding: 15px;
  }
  .nosotras {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  main .seccionesGaleria {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 100px);
    grid-template-areas: "img1 img2 img2" "img1 img2 img2" "img3 img3 img4" "img3 img3 img4";
  }
  main .principal h1 {
    font-size: 32px;
    padding: 5px;
  }
  main .principal h3 {
    font-size: 22px;
  }
  main .principal p {
    font-size: 20px;
    padding: 20px;
  }
  footer {
    flex-direction: row;
    justify-content: space-around;
  }
  form {
    line-height: 25px;
    padding: 15px;
    font-size: 18px;
  }
  .fotos {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 150px);
    grid-template-areas: "foto1 foto5 foto2" "foto3 foto5 foto6" "foto3 foto7 foto6" "foto4 foto8 foto8";
  }
  .nosotras {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media only screen and (min-width: 1024px) {
  main .seccionesGaleria {
    grid-template-columns: repeat(3, 2fr);
    grid-template-rows: repeat(4, 200px);
    grid-template-areas: "img1 img2 img2" "img1 img2 img2" "img3 img3 img4" "img3 img3 img4";
  }
  main .principal {
    line-height: 30px;
  }
  main .principal h1 {
    font-size: 35px;
  }
  main .principal h3 {
    font-size: 25px;
  }
  main .principal p {
    font-size: 20px;
    padding: 20px;
  }
  footer {
    flex-direction: row;
    justify-content: space-around;
  }
  footer p {
    font-size: 20px;
  }
  footer i {
    font-size: 50px;
  }
  form {
    line-height: 30px;
    padding: 20px;
    font-size: 22px;
  }
  .fotos {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 150px);
    grid-template-areas: "foto1 foto1 foto2 foto3" "foto4 foto5 foto2 foto3" "foto4 foto5 foto2 foto6" "foto4 foto7 foto7 foto6" "foto8 foto8 foto8 foto6";
  }
}

/*# sourceMappingURL=estilos.css.map */
