//inicio css footer
//inicio mapas footer
/* $colors-footer: (
    color-p: rgb(172, 184, 162),
    color-i: rgb(90, 149, 114),
    bgcolor: rgb(26, 28, 26),
    ); */
//fin mapas footer
/* footer{
    background-color: map-get($colors-footer , bgcolor );
    width: 100%;
    p{
        color: map-get($colors-footer , color-p );
    }
    i{
        color: map-get($colors-footer , color-i );
    }
} */


.footer{
    width: 100%;
    background-color: #0a141d;
    .grupo1{
        width: 90%;
        max-width: 800px;
        margin: auto; 
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 35px;
        padding: 50px 0px;
        text-align: center;
        .box{
            iframe{
                width: 250px;
                height: 150px;
            }
            p{
                color: #efefef;
                padding: 10px;
                text-align: center;
            }    
            h4{
                color: #fff;
                margin-bottom: 25px;
                font-size: 20px;
            }       
            ul{
                list-style: none;
                color: #efefef;
                a{
                    color: #efefef;
                    &:hover{
                        color: green;
                    }
                }
            }
            .redes{
                a{
                    display: inline-block;
                    text-decoration: none;
                    width: 45px;
                    height: 45px;
                    line-height: 45px;
                    font-size: 45px;
                    color: #fff;
                    margin-right: 10px;
                    text-align: center;
                    transition: all 300ms ease;
                    &:hover{
                        color: aqua;
                        transform: scale(150%)
                    }
                }
            }
        }
    }
    .grupo2{
        background-color: #0a1a2a;
        padding: 15px 10px;
        text-align: center;
        color: #fff;
        small{
            font-size: 15px;
        }
    }
}