//inicio css footer
//inicio mapas footer
/* $colors-footer: (
    color-p: rgb(172, 184, 162),
    color-i: rgb(90, 149, 114),
    bgcolor: rgb(26, 28, 26),
    ); */
//fin mapas footer
/* footer{
    background-color: map-get($colors-footer , bgcolor );
    width: 100%;
    height: 80vh;
    padding: 0px;
    margin: 5px;
    border-radius: 5px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
	flex-direction: column;
	align-items: center;
    justify-content: flex-end;
    iframe{
        margin: 10px;
        padding-top: 10px;
    }
    p{
        margin-top: 10px;
        align-items: center;
        font-size: 16px;
        padding: 5px;
        color: map-get($colors-footer , color-p );
    }
    i{
        font-size: 50px;
        color: map-get($colors-footer , color-i );
        letter-spacing: 20px;
        margin: 10px;
    }
} */
//fin css footer
/* .container {
    flex: 1;
}
footer {
    background-color: #555;
    color: #bbb;
    line-height: 1.5;
    .ft-main{
        padding: 1.25rem 1.875rem;
        display: flex;
        flex-wrap: wrap;
        .ft-main-item{
            padding: 1.25rem;
            min-width: 12.5rem /*200px*/;
/*             .ft-title{
                color: #fff;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                font-size: 1.375rem;
                padding-bottom: 0.625rem;
            }
            ul{
                list-style: none;
                padding-left: 0;
                a{
                    text-decoration: none;
                    color: #eee;
                }
                &:hover{
                    text-decoration: underline;
                }
            }
            .ft-social-list {
                display: flex;
                justify-content: center;
                border-top: 1px #777 solid; 
                padding-top: 1.25rem;
                li{
                    margin: 0.5rem;
                    font-size: 1.25rem;
                    a{
                        text-decoration: none;
                        color: $color4;
                    }
                    &:hover{
                        transform: scale(150%);
                    }
                }
            }
        }
    }
    .ft-legal {
        padding: 0.9375rem 1.875rem;
        background-color: #333;
        .ft-legal-list{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            li{
                margin: 0.125rem 0.625rem;
                white-space: nowrap;
                list-style: none;            
            }
        }
    }        
} */

.footer{
    width: 100%;
    background-color: #0a141d;
    .grupo1{
        width: 90%;
        max-width: 800px;
        margin: auto; 
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 35px;
        padding: 35px 0px;
        text-align: center;
        .box{
            iframe{
                width: 250px;
                height: 150px;
            }     
            h4{
                color: #fff;
                margin-bottom: 25px;
                font-size: 20px;
            }       
            ul{
                list-style: none;
                a{
                    color: #efefef;
                }
            }
            .redes{
                a{
                    display: inline-block;
                    text-decoration: none;
                    width: 45px;
                    height: 45px;
                    line-height: 45px;
                    font-size: 45px;
                    color: #fff;
                    margin-right: 10px;
                    text-align: center;
                    transition: all 300ms ease;
                    &:hover{
                        color: aqua;
                    }
                }
            }
        }
    }
    .grupo2{
        background-color: #0a1a2a;
        padding: 15px 10px;
        text-align: center;
        color: #fff;
        small{
            font-size: 15px;
        }
    }
}