//inicio estilo encabezado
header{
    width: 100%;
    position: sticky;
    z-index: 10;
    top: 0;
    left: 0;
    .titulo{
        background-image: url(../images/medioambiente.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 0%; 
        padding: 5px 5px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        h1{
            font-size: 35px;
            padding: 2px;
            font-weight: 700;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            color: #000;
            transition: all 500ms ease-in-out; 
            &:hover{
                transform: scale(110%);
                color: $color6; 
            }
        }
        a{
            img{
                border-radius: 20px;
                height: 15vh;
            }
        }
    }
    //inicio estilo menú nvegación
    .navbar{
        background-color: #333;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-content: center;
        .navbar-nav{
            align-items: baseline;
            li{
                padding-left: 30px;
                a{
                    text-align: center;
                    align-content: flex-start;
                    transition: all 500ms ease;
                    border-bottom: 2px solid transparent;
                    font-size: 20px;
                    &:hover{
                        color: $color5;
                        border-bottom: 2px solid $color4;
                        transform: scale(120%);
                    }
                }
            }
        }
    }
}
    //fin estilo menú navegación

//fin estilo encabezado 
