//inicio estilos pag index
#inicio{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-image: url(../images/fondoOscuro.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    //inicio class principal
    .principal{
        background-color: rgba(0, 0, 0, 0.5);
        h2{
            font-size: 40px;
            font-weight: 700;
            text-align: center;
            text-transform: uppercase;
            padding: 1rem;
            color: $color6;
        }
        p{
            font-size: 18px;
            text-align: center;
            padding: 1.5rem;
            color: $color6;
            font-weight: 500;
        }
    }
    //fin class principal
    //inicio cards secciones
    .card{
        margin-left: 50px;
        margin-right: 50px;
        background-color: $color6;
        background-color: #ffffff88; 
        .card-body{
            .card-title{
                font-size: 35px;
                font-weight: 600;
            }
            .card-text{
                padding: 5px;
                color: $color1;
                font-size: 20px;
                font-weight: 600;
            }
            .btn{
                &:hover{
                    color: $color5;
                    transform: scale(1.3);
                }
            }
        }
    }
    //fin cards secciones

    //inicio class clientes
    .clientes{
        p{
            font-size: 30px;
            font-weight: 600;
            color: $color1;
            text-align: center;
            padding: 20px;
            background-color: $color5;
            text-transform: uppercase;
            border-radius: 10%;
            width: 85%;
            margin-left: auto;
            margin-right: auto;
        }
        .carousel{
            height: 32vh;
            .carousel-item{
                text-align: center;
            }
        }
    }
}
//fin estilos pag index