// inicio css media queries
// inicio media queries max 599px
// inicio mq pagina quienes somos 
@media only screen and (max-width:599px) {
    .nosotras{
        display: flex;
        flex-direction: column;
        align-items: center;
        }
    }
    //fin mq pagina quienes somos
    //fin media queries max 599px 
    //inicio media queries min 600 max 767px 
    
    @media only screen and (min-width: 600px) and (max-width:767px) {
        main{
            .principal{
                h1{
                    font-size:28px;
                    padding: 2px;
                }
                h3{
                    font-size: 20px;
                }
                p{
                    font-size: 18px;
                    padding: 15px;
                }
            }
        }
        .nosotras{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    } 
    //fin media queries min 600 max 767px 
    //inicio media queries min 768 max 1023px 
    
    @media only screen and (min-width: 768px) and (max-width: 1023px){
/*         .header{
            .container{
                max-width: 1200px;
                .boton{
                    label{
                        display: none;
                    }
                }
                .menu{
                    float: right;
                    position: absolute;
                    a{
                        display: inline-block;
                    }
                }
            }
        }  */
        main{
            .principal{
                h1 {
                    font-size: 32px;
                    padding: 5px;
                }
                h3 {
                    font-size: 22px;
                }
                p {
                    font-size: 20px;
                    padding: 20px;
                }
            }
        }     
        //inicio media queries pagina contacto
        form{
            line-height: 25px;
            padding: 15px;
            font-size: 18px;
        } 
        //fin media queries pagina contacto
        //inicio media queries pagina servicios
        .fotos{
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(4, 150px);
            grid-template-areas: 
                "foto1 foto5 foto2"
                "foto3 foto5 foto6"
                "foto3 foto7 foto6"
                "foto4 foto8 foto8"; 
        }
        //fin media queries pagina servicios
        //inicio mq pagina quienes somos 
        .nosotras{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        //fin mq pagina quienes somos 
    }
    //fin media queries min 768 max 1023px 
    // inicio media queries min 1024px
    
    @media only screen and (min-width: 1024px) {
      /*   .header{
            .container{
                .boton{
                    display: none;
                }
                .menu{
                    float: right;
                    a{
                        display: inline-block;
                    }
                }
            }
        } */
        
        main{
            .principal {
                line-height: 30px;
                h1{
                    font-size: 35px;
                }
                h3{
                    font-size: 25px;
                }
                p{
                    font-size: 20px;
                    padding: 20px;
                }
            }
        }
        .footer{
            .grupo1{
                max-width: 1400px;
                grid-template-columns: repeat(4, 1fr);
            }
        }    
        //inicio media queries pagina contacto
        form{
            line-height: 30px; 
            padding: 20px;
            font-size: 22px;
        } 
        //fin media queries pagina contacto
        //inicio media queries pagina servicios
        .fotos{
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(5, 150px);
            grid-template-areas: 
            "foto1 foto1 foto2 foto3"
            "foto4 foto5 foto2 foto3"
            "foto4 foto5 foto2 foto6"
            "foto4 foto7 foto7 foto6" 
            "foto8 foto8 foto8 foto6"; 
        } 
        //fin media queries pagina servicios
    } 
    // fin media queries min 1024px 
    // fin css media queries