//inicio estilo pag servicios
#servicios{
    background-image: url(../images/bamboo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    div{
        background-color: rgba(0, 0, 0, 0.6);
        h2{
            text-align: center;
            font-size: 45px;
            padding: 0.8rem;
            color: $color5;
            font-weight: 700;
            text-transform: capitalize;
        }
        .animate__animated{
            animation-duration: 3s;
        }  
    }
    .itemsServicios{
        height: 100%;
        width: 100%;
        max-width: 100%; 
        padding: 0.2rem;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, auto);
        grid-gap: 2px;
        grid-template-areas: 
        "item1"
        "item2"
        "item3"
        "item4"
        "item5"
        "item6"; 
        .card{
            border-radius: 5px;
            margin: 5px;
            filter: grayscale(85%);
            transition: all 0.7s;
            &:hover{
                transform: scale(1.10) ;
                filter: grayscale(0%);
                transition: all 0.7s;
            }
            .card-body{
                h3{
                    font-size: 25px;
                    text-align: center;
                    color: $color6;
                }
                ul{
                    list-style: none;
                    li{
                        font-size: 0.9rem;
                        color: $color6;
                        text-align: center;
                        padding: 5px 0px;
                        &:not(:last-child){
                        border-bottom: 1px solid $color2;
                        }
                    }
                }
            }
        }
        .item1{
            grid-area: item1;
        }
        .item2{
            grid-area: item2;
        }
        .item3{
            grid-area: item3;
        }
        .item4{
            grid-area: item4;
        }
        .item5{
            grid-area: item5;
        }
        .item6{
            grid-area: item6;
        }
    } 
}
//fin estilo pag servicios