@import "_variables";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
//inicio mixin
@mixin sizes($width, $height, $bcolor) {
    width: $width;
    height: $height;
    background-color: $bcolor;
}
//inicio css contenido principal
main{
    @include sizes(100%, auto, $color6);
}

//fin css contenido principal

@import "_header";
@import "_footer";
@import "_index";
@import "_quienesSomos";
@import "_servicios";
@import "_capacitaciones";
@import "_contacto";
@import "_mediaQueries";
