* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  width: 100%;
  height: auto;
  background-color: #e7eee8;
}

header {
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  z-index: 10;
  top: 0;
  left: 0;
}
header .titulo {
  background-image: url(../images/medioambiente.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0%;
  padding: 5px 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header .titulo h1 {
  font-size: 35px;
  padding: 2px;
  font-weight: 700;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #000;
  transition: all 500ms ease-in-out;
}
header .titulo h1:hover {
  transform: scale(110%);
  color: #e7eee8;
}
header .titulo a img {
  border-radius: 20px;
  height: 15vh;
}
header .navbar {
  background-color: #333;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
}
header .navbar .navbar-nav {
  align-items: baseline;
}
header .navbar .navbar-nav li {
  padding-left: 30px;
}
header .navbar .navbar-nav li a {
  text-align: center;
  align-content: flex-start;
  transition: all 500ms ease;
  border-bottom: 2px solid transparent;
  font-size: 20px;
}
header .navbar .navbar-nav li a:hover {
  color: #C3CF0A;
  border-bottom: 2px solid #6fb98f;
  transform: scale(120%);
}

.footer {
  width: 100%;
  background-color: #333;
}
.footer .grupo1 {
  width: 90%;
  max-width: 800px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 35px;
  padding: 50px 0px;
  text-align: center;
}
.footer .grupo1 .box iframe {
  width: 250px;
  height: 150px;
}
.footer .grupo1 .box p {
  color: #efefef;
  padding: 10px;
  text-align: center;
}
.footer .grupo1 .box h4 {
  color: #fff;
  margin-bottom: 25px;
  font-size: 20px;
}
.footer .grupo1 .box ul {
  list-style: none;
  color: #efefef;
}
.footer .grupo1 .box ul a {
  color: #fff;
}
.footer .grupo1 .box ul a:hover {
  color: #6fb98f;
  text-transform: uppercase;
  text-decoration: none;
}
.footer .grupo1 .box .redes a {
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  font-size: 45px;
  color: #fff;
  margin-right: 10px;
  text-align: center;
  transition: all 300ms ease;
}
.footer .grupo1 .box .redes a:hover {
  color: #C3CF0A;
  transform: scale(150%);
}
.footer .grupo2 {
  background-color: #555;
  padding: 15px 10px;
  text-align: center;
  color: #fff;
}
.footer .grupo2 small {
  font-size: 15px;
}

#inicio {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-image: url(../images/fondoOscuro.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
#inicio .principal {
  background-color: rgba(0, 0, 0, 0.5);
}
#inicio .principal h2 {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  padding: 1rem;
  color: #e7eee8;
}
#inicio .principal p {
  font-size: 18px;
  text-align: center;
  padding: 1.5rem;
  color: #e7eee8;
  font-weight: 500;
}
#inicio .card {
  margin-left: 50px;
  margin-right: 50px;
  background-color: #e7eee8;
  background-color: rgba(255, 255, 255, 0.5333333333);
}
#inicio .card .card-body .card-title {
  font-size: 35px;
  font-weight: 600;
}
#inicio .card .card-body .card-text {
  padding: 5px;
  color: #021C1E;
  font-size: 20px;
  font-weight: 600;
}
#inicio .card .card-body .btn:hover {
  color: #C3CF0A;
  transform: scale(1.3);
}
#inicio .clientes p {
  font-size: 30px;
  font-weight: 600;
  color: #021C1E;
  text-align: center;
  padding: 20px;
  background-color: #C3CF0A;
  text-transform: uppercase;
  border-radius: 10%;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}
#inicio .clientes .carousel {
  height: 32vh;
}
#inicio .clientes .carousel .carousel-item {
  text-align: center;
}

#quienesSomos {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  background-image: url(../images/hojasSecas.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
#quienesSomos div h2 {
  text-align: center;
  padding: 0.8rem;
  color: #C3CF0A;
  font-weight: 600;
}
#quienesSomos .nosotras {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
}
#quienesSomos .card {
  margin: 1rem;
  background-color: #C3CF0A;
}
#quienesSomos .card .card-text {
  text-align: center;
  font-weight: 500;
}
#quienesSomos .seguimos, #quienesSomos .seguimos2 {
  color: #021C1E;
  font-size: 19px;
  font-weight: 600;
  text-align: center;
  padding: 1rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  width: 80%;
  height: auto;
  background-color: #6fb98f;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10%;
}
#quienesSomos .seguimos2 {
  background-color: #13542d;
  width: 90%;
  color: #e7eee8;
}

#servicios {
  background-image: url(../images/bamboo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
#servicios div {
  background-color: rgba(0, 0, 0, 0.6);
}
#servicios div h2 {
  text-align: center;
  font-size: 45px;
  padding: 0.8rem;
  color: #C3CF0A;
  font-weight: 700;
  text-transform: capitalize;
}
#servicios div .animate__animated {
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}
#servicios .itemsServicios {
  height: 100%;
  width: 100%;
  max-width: 100%;
  padding: 0.2rem;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(6, auto);
  grid-gap: 2px;
  grid-template-areas: "item1" "item2" "item3" "item4" "item5" "item6";
}
#servicios .itemsServicios .card {
  border-radius: 5px;
  margin: 5px;
  filter: grayscale(85%);
  transition: all 0.7s;
}
#servicios .itemsServicios .card:hover {
  transform: scale(1.1);
  filter: grayscale(0%);
  transition: all 0.7s;
}
#servicios .itemsServicios .card .card-body h3 {
  font-size: 25px;
  text-align: center;
  color: #e7eee8;
}
#servicios .itemsServicios .card .card-body ul {
  list-style: none;
}
#servicios .itemsServicios .card .card-body ul li {
  font-size: 0.9rem;
  color: #e7eee8;
  text-align: center;
  padding: 5px 0px;
}
#servicios .itemsServicios .card .card-body ul li:not(:last-child) {
  border-bottom: 1px solid #004445;
}
#servicios .itemsServicios .item1 {
  grid-area: item1;
}
#servicios .itemsServicios .item2 {
  grid-area: item2;
}
#servicios .itemsServicios .item3 {
  grid-area: item3;
}
#servicios .itemsServicios .item4 {
  grid-area: item4;
}
#servicios .itemsServicios .item5 {
  grid-area: item5;
}
#servicios .itemsServicios .item6 {
  grid-area: item6;
}

#capacitaciones {
  background-image: url(../images/hoja.jpg);
  width: 100%;
  height: 90vh;
  background-repeat: no-repeat;
}
#capacitaciones .jumbotron {
  text-align: center;
  max-height: 100%;
  background-image: url(../images/fondoClaro.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
#capacitaciones .jumbotron h2 {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 40px;
  color: #021C1E;
}
#capacitaciones .jumbotron p {
  font-weight: 700;
  color: #021C1E;
}
#capacitaciones .jumbotron .btn {
  color: #e7eee8;
  margin: 1rem;
}
#capacitaciones .jumbotron .btn:hover {
  color: #C3CF0A;
  transform: scale(120%);
  text-transform: uppercase;
}

#contacto {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}
#contacto video {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100vh;
}
#contacto form {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  padding: 30px;
  width: 80%;
  height: 100vh;
}
#contacto form .contact-title {
  font-size: 30px;
  font-weight: 600;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-bottom: 30px;
  text-transform: uppercase;
  color: #2c7873;
}
#contacto form .label {
  font-size: 18px;
  font-weight: 600;
}
#contacto form .input {
  height: 30px;
  outline: none;
  padding: 5px 0;
  border-bottom: 2px solid #C3CF0A;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 100%;
  color: #121212;
  background-color: transparent;
}
#contacto form .textarea {
  height: 100px;
  outline: none;
  padding: 5px 0;
  border-bottom: 2px solid #C3CF0A;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 100%;
  color: #121212;
  background-color: transparent;
  resize: none;
}
#contacto form .boton {
  padding: 18px 55px;
  background-color: #121212;
  border-radius: 50px;
  color: #f2f2f2;
  font-weight: 600;
  border: none;
  font-size: 18px;
  cursor: pointer;
}
#contacto form .boton:hover {
  background-color: #C3CF0A;
}

@media only screen and (min-width: 450px) and (max-width: 599px) {
  header .titulo {
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: space-between;
  }
  #contacto form {
    width: 70%;
  }
  #servicios .itemsServicios {
    padding: 3rem;
  }
}
@media only screen and (min-width: 600px) and (max-width: 767px) {
  header .titulo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  #contacto form {
    width: 60%;
  }
  #contacto form .contact-title {
    font-size: 40px;
    margin-bottom: 40px;
  }
  #servicios .itemsServicios {
    padding: 0rem 8rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  header .titulo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  header .titulo h1 {
    font-size: 50px;
  }
  #contacto form {
    width: 50%;
  }
  #contacto form .contact-title {
    font-size: 50px;
    margin-bottom: 50px;
  }
  #servicios .itemsServicios {
    padding: 0rem 2rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "item1 item2" "item3 item4" "item5 item6";
  }
  #quienesSomos div h2 {
    font-size: 40px;
  }
  #quienesSomos .nosotras {
    display: flex;
    flex-direction: row;
  }
}
@media only screen and (min-width: 1024px) {
  header .titulo {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 2rem;
  }
  header .titulo h1 {
    font-size: 60px;
    text-align: center;
    display: flex;
    align-items: baseline;
    padding-right: 50px;
  }
  #contacto form {
    width: 50%;
  }
  #contacto form .contact-title {
    font-size: 50px;
    margin-bottom: 50px;
  }
  .footer .grupo1 {
    max-width: 1400px;
    grid-template-columns: repeat(4, 1fr);
  }
  form {
    line-height: 30px;
    padding: 20px;
    font-size: 22px;
  }
  #servicios .itemsServicios {
    padding: 1rem 4rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-template-areas: "item1 item2 item3" "item4 item5 item6";
  }
  #quienesSomos div h2 {
    font-size: 50px;
  }
  #quienesSomos .nosotras {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}/*# sourceMappingURL=estilos.css.map */