* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body{
    display: flex;
    min-height: 100vh;
    flex-direction: column; 
} */
main {
  width: 100%;
  height: auto;
  background-color: #e7eee8;
  border-radius: 10px;
}
main .principal {
  background-color: #e7eee8;
  height: auto;
  width: 100%;
  border-radius: 10px;
  line-height: 20px;
}
main .principal h3 {
  color: rgb(28, 32, 21);
  text-align: center;
  font-family: Tahoma;
  padding: 5px;
}
main .principal p {
  color: #004445;
  font-size: 16px;
  font-weight: bolder;
  text-align: center;
  font-style: italic;
  font-family: "Lucida Sans";
  padding: 10px;
}
main .seccionesGaleria {
  width: 95%;
  max-width: 600px;
  margin: 100px auto;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  border-radius: 6px;
  box-shadow: 0px 5px 25px;
  cursor: pointer;
}
main .seccionesGaleria:before, main .seccionesGaleria:after {
  content: "";
  position: absolute;
  width: calc(100% - 30px);
  height: 4px;
  background: #C3CF0A;
  transition: all 0.3s;
}
main .seccionesGaleria:before {
  left: -100%;
  top: 10px;
}
main .seccionesGaleria:after {
  left: 100%;
  bottom: 10px;
}
main .seccionesGaleria:hover:before, main .seccionesGaleria:hover:after {
  left: 15px;
}
main .seccionesGaleria img {
  width: 100%;
}
main .seccionesGaleria .texto {
  text-align: center;
  position: absolute;
  transition: all 500ms ease-out;
  transform: scale(1.5);
  background: #2c7873;
  opacity: 0;
}
main .seccionesGaleria .texto:hover {
  transform: scale(1.5);
  opacity: 1;
}
main .seccionesGaleria .texto h4, main .seccionesGaleria .texto a {
  color: #021C1E;
  display: inline-flex;
  padding: 10px 100px;
  margin: 10px;
}
main .clientes {
  background-color: #e7eee8;
}
main .clientes p {
  font-size: 30px;
  color: #000;
  text-align: center;
}
main #demo {
  background-color: #fff;
  height: 180px;
  width: 100%;
  align-items: center;
}
main .carousel-control-prev-icon, main .carousel-control-next-icon {
  background-color: #021C1E;
  height: 100px;
}

.nosotras {
  display: flex;
  justify-content: space-around;
}

.seguimos, .seguimos2 {
  color: blueviolet;
  font-size: 18px;
  text-align: center;
}

.seguimos2 {
  text-decoration: underline;
  background-color: #6fb98f;
}

.animate__animated {
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.listaOrdenada li {
  background-color: #C3CF0A;
  list-style: inside;
  list-style-type: upper-roman;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  font-weight: 600;
  color: rgb(45, 40, 40);
}

.fotos {
  background-color: #2c7873;
  height: auto;
  width: 100%;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 150px);
  grid-gap: 2px;
  grid-template-areas: "foto1 foto5" "foto2 foto6" "foto3 foto7" "foto4 foto8";
}

.foto {
  border-radius: 5px;
  margin: 5px;
  border: 2px solid black;
  filter: grayscale(100%);
  transition: all 0.7s;
}
.foto:hover {
  transform: scale(1.1);
  filter: grayscale(0%);
  transition: all 0.7s;
}

.foto1 {
  background-image: url(../images/arbol.jpg);
  background-position: center;
  background-size: cover;
  grid-area: foto1;
}

.foto2 {
  background-image: url(../images/burbuja.jpg);
  background-position: center;
  background-size: cover;
  grid-area: foto2;
}

.foto3 {
  background-image: url(../images/campo.jpg);
  background-position: center;
  background-size: cover;
  grid-area: foto3;
}

.foto4 {
  background-image: url(../images/flor.jpg);
  background-position: center;
  background-size: cover;
  grid-area: foto4;
}

.foto5 {
  background-image: url(../images/luna.jpg);
  background-position: center;
  background-size: cover;
  grid-area: foto5;
}

.foto6 {
  background-image: url(../images/arbolRojo.jpg);
  background-position: center;
  background-size: cover;
  grid-area: foto6;
}

.foto7 {
  background-image: url(../images/mariposa.jpg);
  background-position: center;
  background-size: cover;
  grid-area: foto7;
}

.foto8 {
  background-image: url(../images/medioambiente.jpg);
  background-position: center;
  background-size: cover;
  grid-area: foto8;
}

header {
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  z-index: 10;
  top: 0;
  left: 0;
}
header .titulo {
  background-image: url(../images/medioambiente.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0%;
  padding: 15px 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header .titulo h1 {
  font-size: 40px;
  padding: 10px;
  font-weight: 700;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #000;
  transition: all 500ms ease;
}
header .titulo h1:hover {
  transform: scale(110%);
  color: #e7eee8;
}
header .titulo a img {
  border-radius: 20px;
}
header .navbar {
  background-color: #333;
  width: 100%;
  display: flex;
  flex-direction: column;
}
header .navbar li a {
  text-align: center;
  transition: all 500ms ease;
  border-bottom: 2px solid transparent;
  font-size: 20px;
}
header .navbar li a:hover {
  color: #6fb98f;
  border-bottom: 2px solid #6fb98f;
  transform: scale(120%);
}

.footer {
  width: 100%;
  background-color: #333;
}
.footer .grupo1 {
  width: 90%;
  max-width: 800px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 35px;
  padding: 50px 0px;
  text-align: center;
}
.footer .grupo1 .box iframe {
  width: 250px;
  height: 150px;
}
.footer .grupo1 .box p {
  color: #efefef;
  padding: 10px;
  text-align: center;
}
.footer .grupo1 .box h4 {
  color: #fff;
  margin-bottom: 25px;
  font-size: 20px;
}
.footer .grupo1 .box ul {
  list-style: none;
  color: #efefef;
}
.footer .grupo1 .box ul a {
  color: #fff;
}
.footer .grupo1 .box ul a:hover {
  color: #6fb98f;
  text-transform: uppercase;
  text-decoration: none;
}
.footer .grupo1 .box .redes a {
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  font-size: 45px;
  color: #fff;
  margin-right: 10px;
  text-align: center;
  transition: all 300ms ease;
}
.footer .grupo1 .box .redes a:hover {
  color: #C3CF0A;
  transform: scale(150%);
}
.footer .grupo2 {
  background-color: #555;
  padding: 15px 10px;
  text-align: center;
  color: #fff;
}
.footer .grupo2 small {
  font-size: 15px;
}

/* main{
/*     .form{
        video{
            height: 90vh;
            top: auto;
            left: auto;
            bottom: auto;
        } */
/*     form{ */
/*             width: 60%;
            height: 90vh;
            justify-content: space-around;
            padding: 30px; */
#contacto {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  position: relative;
}
#contacto video {
  display: flex;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100vh;
}
#contacto form {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  padding: 30px;
  width: 80%;
  height: 100vh;
}
#contacto form .contact-title {
  font-size: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-bottom: 30px;
  text-transform: uppercase;
}
#contacto form .label {
  font-size: 18px;
  font-weight: 600;
}
#contacto form .input {
  height: 30px;
  outline: none;
  padding: 5px 0;
  border-bottom: 2px solid #121212;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 100%;
  color: #121212;
  background-color: transparent;
}
#contacto form .textarea {
  height: 100px;
  outline: none;
  padding: 5px 0;
  border-bottom: 2px solid #121212;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 100%;
  color: #121212;
  background-color: transparent;
  resize: none;
}
#contacto form .boton {
  padding: 18px 55px;
  background-color: #121212;
  border-radius: 50px;
  color: #f2f2f2;
  font-weight: 600;
  border: none;
  font-size: 18px;
  cursor: pointer;
}
#contacto form .boton:hover {
  background-color: #C3CF0A;
}

@media only screen and (min-width: 450px) and (max-width: 599px) {
  header .titulo {
    display: flex;
    flex-direction: row;
    justify-items: center;
  }
  #contacto form {
    width: 70%;
  }
  .nosotras {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media only screen and (min-width: 600px) and (max-width: 767px) {
  header .titulo {
    display: flex;
    flex-direction: row;
  }
  header .titulo h1 {
    font-size: 50px;
  }
  main .principal h3 {
    font-size: 20px;
  }
  main .principal p {
    font-size: 18px;
    padding: 15px;
  }
  #contacto form {
    width: 60%;
  }
  #contacto form .contact-title {
    font-size: 40px;
    margin-bottom: 40px;
  }
  .nosotras {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  header .titulo {
    display: flex;
    flex-direction: row;
  }
  header .titulo h1 {
    font-size: 60px;
    text-align: center;
  }
  main .principal h3 {
    font-size: 22px;
  }
  main .principal p {
    font-size: 20px;
    padding: 20px;
  }
  #contacto form {
    width: 50%;
  }
  #contacto form .contact-title {
    font-size: 50px;
    margin-bottom: 50px;
  }
  .fotos {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 150px);
    grid-template-areas: "foto1 foto5 foto2" "foto3 foto5 foto6" "foto3 foto7 foto6" "foto4 foto8 foto8";
  }
  .nosotras {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media only screen and (min-width: 1024px) {
  header .titulo {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  header .titulo h1 {
    font-size: 60px;
    text-align: center;
    display: flex;
    align-items: baseline;
  }
  main .principal {
    line-height: 30px;
  }
  main .principal h3 {
    font-size: 25px;
  }
  main .principal p {
    font-size: 20px;
    padding: 20px;
  }
  #contacto form {
    width: 50%;
  }
  #contacto form .contact-title {
    font-size: 50px;
    margin-bottom: 50px;
  }
  .footer .grupo1 {
    max-width: 1400px;
    grid-template-columns: repeat(4, 1fr);
  }
  form {
    line-height: 30px;
    padding: 20px;
    font-size: 22px;
  }
  .fotos {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 150px);
    grid-template-areas: "foto1 foto1 foto2 foto3" "foto4 foto5 foto2 foto3" "foto4 foto5 foto2 foto6" "foto4 foto7 foto7 foto6" "foto8 foto8 foto8 foto6";
  }
}/*# sourceMappingURL=estilos.css.map */